<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Subscription Expired</title>
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <p>
      We wanted to inform you that your subscription on Car Bazaar has expired.
    </p>
    <p>
      If you would like to renew your subscription, please log in and choose a plan that best suits your needs.
    </p>
    <p>We hope to see you back soon!</p>
    <p>Thank you,</p>
    <p>The Car Bazaar Team</p>
  </body>
</html>
